@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.main-logo img {
  width: 200px;
  height: 50px;
  max-width: max-content;
}

@media (min-width: 1537px) {
  .home-content {
    padding-top: 12.5rem;
  }
}

@media (max-width: 1023px) {
  .home {
    min-height: 95vh;
  }
  .home-content {
    padding-top: 0;
  }
  .home-text-h1 {
    font-size: 50px;
  }
  .home-text-h1-span {
    font-size: 70px;
  }
  .home-text-p {
    font-size: 24px;
    text-shadow: 2px 2px 2px #6b6b6b;
  }
  .pt-28 {
    padding-top: 5rem !important;
  }
}

@media (max-width: 767px) {
  .home {
    min-height: 95vh;
  }
  .home-content {
    padding-top: 0;
  }
  .home-text-h1 {
    font-size: 40px;
  }
  .home-text-h1-span {
    font-size: 60px;
  }
  .home-text-p {
    font-size: 20px;
    padding-top: 1rem;
  }
  .pt-28 {
    padding-top: 2rem !important;
  }
}

@media (min-width: 768px) {
  .home-text-p {
    text-shadow: none !important;
  }
}
